# Віртуальне середовище Python
venv/
*.venv/

# Локальна база даних (Ніколи не завантажуй її!)
*.db
*.sqlite3

# Кеш Python
__pycache__/
*.pyc
*.pyo

# Налаштування VS Code (нехай будуть локальними)
.vscode/

.env