{% extends "base.html" %}
{% block title %}Чат - Synaps{% endblock %}
{% block content %}
    <div id="content-wrapper" data-current-user-id="{{ current_user.id }}">
        <div id="user-list-container">
            <h3>Користувачі Synaps</h3>
            <ul id="user-list">
                <li class="status">Завантаження юзерів...</li>
            </ul>
        </div>
        <div id="chat_window">
            <h3 id="chat-with-title">Будь ласка, оберіть чат</h3>
            <ul id="messages"></ul>
            <div id="form">
                <input type="file" id="file_input" accept="image/*,video/*,image/gif" style="display: none;">
                <label for="file_input" id="file_button">📎</label>
                <button id="gif_button" disabled>GIF</button>
                <input id="message_input" autocomplete="off" placeholder="Оберіть чат..." disabled />
                <button id="send_button" disabled>Відправити</button>
            </div>
        </div>
    </div>
    
    <div id="gif-modal">
        <div id="gif-modal-content">
            <h4>Мої GIF-ки</h4>
            <div id="gif-library"></div>
            <button id="gif-close-button">Закрити</button>
        </div>
    </div>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}